:root {
  /* Colors */
  --main-color: #2BD0D0;
  --secondary-color: #4B3F6B;
  --text-color1: #34313D;
  --text-color2: #3A3054;
  --text-color3: #9E9AA8;
  --white-bg: #EFF1F7;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed #000;
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  background-color: #fff;
  font-size: 15px;
  line-height: 22px;
}

img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
